.container {
    position: relative;
    width: 100%;
    max-width: 400px; /* Actual image size */
    aspect-ratio: 1/1;
    margin: 0 auto;
}

.frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0; /* hides the frame */
    transition: opacity 0.5s ease-in-out;
}

.active {
    opacity: 1; /* shows the frame */
}
