/* Google fonts Example uses

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.karla-<uniquifier> {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

/* Remove default margins & paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up body styles */
html, body {
  height: 100%;
  background-color: white;
  color: #000;
}

/* Remove list styles */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Remove link styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Remove bottom margin and set default font */
p {
  margin: 0 !important;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Set default headings font */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700 !important;
}

/* Set default body text font */
body {
  font-family: 'Karla', sans-serif; 
}