/* Remove default margins & paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up body styles */
html, body {
  height: 100%;
  background-color: white; /* Background Colour */
  font-family: sans-serif; /* Temporary until adding Google Fonts */
  color: #000;
}

/* Remove list styles */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Remove link styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Remove bottom margin */
p {
  margin: 0 !important;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
